:root {
  --cover-max-width: 45em;
  --link-color: navy;
  --link-text-decoration: none;
  --table-head-background: lightgray;
  --table-cell-padding: 5px 10px;
  --sidebar-width: 20rem;
}

h1 span:after,
h2 span:after,
h3 span:after,
h4 span:after {
  content: ':';
}

a.see-more {
  position: relative;
  left: calc(100% - 15ex);
}

.markdown-section {
  max-width: 95%;
}

.fa {
  font-weight: bold;
  color: aqua;
}

.markdown-section a {
  color: aqua;
}

img.medium-zoom-image {
  max-width: calc(50% - 20px);
  margin-right: 10px;
}

blockquote em {
  font-style: italic !important;
}